name: Android CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - 'fastlane/**'
      - '.github/**'
      - '!.github/workflows/android.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Gradle
        run: |
          ./gradlew assembleRelease
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Hail@${{ env.commit }}
          path: app/build/outputs/apk/release/*.apk
